*.orig
CommonAssemblyInfo.cs
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
StyleCop.Cache
[Ll]ogs
*.suo
*.sln.cache
*.user
*.ReSharper
*.ReSharper.user
*.FxCopReport.xml
**/CustomDictionary.xml
Builds/
samples/cache
output
*.BuildNumber.txt
*.crunchsolution.cache
$RECYCLE.BIN/*

TestResult.xml
*.orig
*.user
*.ReSharper
TestResult.xml
*.patch
Data/Samples/db/
InternalTrace.*.log
**/.vs/
src/_NCrunch_*
**/local-dev-config.xml
*/*.bak
src/packages/StyleCop.MSBuild*/**/*.dll-*
src/packages/
**/*.d.ts
**/*.d.ts.map
WebApp
_NCrunch_*
# Default ignored files
.idea/.idea.Demeton/.idea/workspace.xml
.fake
build
*.fsx.lock
.ionide

tools/fsharplint